@page "/Login"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService




<EditForm class="login" Model="loginDTO" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />

    <div class="row">
        <head>
            <link href="css/login.css" rel="stylesheet" />
        </head>
        <h3>Iniciar Sesión</h3>
        <div class="mb-3">
            <span class="oi oi-envelope-closed" aria-hidden="true"></span>
            <label>Email:</label>
            <div>
                <InputText class="form-control" @bind-Value="@loginDTO.Email" />
                <ValidationMessage For="@(() => loginDTO.Email)" />
            </div>
        </div>
        <div class="mb-3">
            <span class="oi oi-lock-locked" aria-hidden="true"></span>
            <label>Contraseña:</label>
            <div>
                <InputText type="password" class="form-control" @bind-Value="@loginDTO.Password" />
                <ValidationMessage For="@(() => loginDTO.Password)" />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
        <div class="card-footer">
            <a class="bbtn btn-link" href="/ResendToken">Reenviar correo de activación de cuenta</a>
            <p><a class="bbtn btn-link" href="/RecoverPassword">¿Has olvidado tu contraseña?</a></p>
        </div>

    </div>
</EditForm>

@code {
    private LoginDTO loginDTO = new();

    private async Task LoginAsync()
    {
        var responseHttp = await repository.PostAsync<LoginDTO, TokenDTO>("/api/accounts/Login", loginDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await loginService.LoginAsync(responseHttp.Response!.Token);
        navigationManager.NavigateTo("/");
    }
}
