@page "/"

<PageTitle>Feelingweb</PageTitle>
<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>

<div class="welcome" style="text-align:center">
<h1>Hola, Bienvenido a FeelingWeb</h1>
<h3>Una pagina web dedicada a realizar analisis de sentimientos en textos</h3>
</div>
<img src="/Imagen1.png" class="home-img" alt="home-img" style="width:82%; height:75%;position: absolute">
