@page "/sentiment"

<h3>SentimentAnalysisIndex</h3>
<head>
    <link href="css/formulario.css" rel="stylesheet" />
</head>

<div class="formulario">
    <div class="campo">
        <label for="nombre">Texto Analizar:</label>        
    </div>
    <div class="campo">
        <input type="text" id="nombre" class="campo-input" />
    </div>   

    <div class="campo">
        <button class="boton">Enviar</button>
    </div>
</div>