/* Colors */
:root {
    --redFire: rgb(226, 217, 237);
}

/* Fonts */
@import "bourbon";

body {
    background-color: var(--redFire);
    font-family: 'Asap', sans-serif;
}

span{
    vertical-align:middle;
    font-size: larger;
}

.EditUser {
    overflow: hidden;
    background-color: white;
    padding: 20px 20px 20px 30px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(var(--greenSeaweed), 0.2);
}

    .EditUser::before,
    .EditUser::after {
        content: '';
        position: absolute;
        width: 600px;
        height: 600px;
        border-top-left-radius: 40%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 40%;
        z-index: -1;
    }

    .EditUser::before {
        left: 40%;
        bottom: -130%;
    }

    .EditUser::after {
        left: 35%;
        bottom: -125%;
    }

    .EditUser .form-control {
        font-family: 'Asap', sans-serif;
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }

    .EditUser button {
        font-family: 'Asap', sans-serif;
        cursor: pointer;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        width: 200px;
        border: 0;
        border-radius: 5px;
        background-color: var(--redFire);
        transition: background-color 300ms;
    }

        .EditUser button:hover {
            background-color: rgba(234, 68, 78, 0.95);
        }

.EditUser label {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    margin-top:10px;
}
.card {
    border: none;
}

.card-header {
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
}

    
