.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: linear-gradient(174deg, rgba(192,157,239,0.9472163865546218) 18%, rgba(146,39,143,1) 45%, rgba(142,194,254,1) 88%);
}

.logo {
    width: 70px;
    height: 50px;
    padding: 0px 20px 0px 5px;
}
.navbar-brand {
    /*(arriba, derecha, abajo, izquierda)*/
    padding: 10px 200px 15px 5px;
    display: inline-flex;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.top-row {
    background: linear-gradient(174deg, rgba(192,157,239,0.9472163865546218) 18%, rgba(146,39,143,1) 45%, rgba(142,194,254,1) 88%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
