
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="bottom-row">
            <div class="icon-menu-arrow">
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-grid-two-up" style="color: white;" @onclick="ToggleIconMenu"></span>
                }
                else
                {
                    <span class="oi oi-menu" style="color: white;" @onclick="ToggleIconMenu"></span>
                }
            </div>
        </div>
        
        @if (!@IconMenuActive)
        {
            <img src="/Iogo.png" class="logo" alt="logo">
            <a class="navbar-brand" href="">FeelingWeb</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Home</label>
                }
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tweets">
                        <img src="/icon-twitter.svg" class="twitter" alt="twitter">
                        @if (!@IconMenuActive)
                        {
                            <label>Tweets</label>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-person" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>Usuarios</label>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="sentiment">
                        <span class="oi oi-list" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>Sentimientos</label>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>


@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}
